* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  height: 30rem;
  width: 50rem;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 25rem;
  height: 2.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

::placeholder {
  color: coral;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
h1 {
  color: darkslateblue;
}
.col {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
